.header {
  background: url(../images/desktop/image-header.jpg);
  height: 600px;
  background-position: center;
  background-size: cover;

  &__nav {
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;

    &-logo {
      cursor: pointer;
      font-size: 3rem;
      font-weight: 700;
      letter-spacing: 0.03em;
      text-decoration: none;
      color: $color-White;
    }

    &-menu {
      color: $color-White;
      display: flex;
      list-style-type: none;
      max-width: 50rem;
      align-items: center;
      justify-content: space-between;
      flex-basis: 100%;

      &-item {
        transition: all 0.2s;
        font-size: 1.2em;
        cursor: pointer;

        @include for-tablet-landscape-up {
          padding: 2rem;
        }

        &:hover {
          color: $color-black;
        }

        span {
          color: $color-black;

          @include for-tablet-landscape-up {
            background-color: $color-Yellow;
          }

          background-color: $color-White;
          padding: 1.3rem 3rem;
          border-radius: 3rem;
          font-family: "Fraunces",
          serif;
          font-weight: 500;
          transition: all 0.2s;

          &:hover {
            background-color: $color-Dark-blue;
            color: $color-White;
          }
        }
      }

      @include for-tablet-landscape-up {
        transition: all 0.2s;
        color: $color-Very-dark-grayish-blue;
        background-color: rgb(244, 235, 187);
        position: absolute;
        flex-direction: column;
        top: -100%;
        left: 0;
        border-radius: 1rem;
        box-shadow: 0 1rem 2.7rem rgba(0, 0, 0, 5%);

        display: flex;
        list-style-type: none;
        max-width: 100%;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
    }
  }

  &__main-text {
    color: $color-White;
    text-align: center;
    margin-top: 7rem;
  }

  &__arrow-icon {
    display: block;
    margin: 0 auto;
  }
}

.hamburger {
  display: none;
  position: absolute;
  top: 4rem;
  right: 3rem;

  @include for-tablet-landscape-up {
    display: block;
    cursor: pointer;
  }

  &__bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: $color-White;
  }
}

.active {
  top: 7rem;
}